.user-card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 30px;
  border: 1px solid #000000;
  border-radius: 50%;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);

  @media screen and (max-width: 719px) {
    margin: 30px 0;
  }
}

.user-card__grey-block {
  position: absolute;
  width: 60px;
  height: 80%;
  left: 30%;
  top: calc(50% - 80%/2);
  border-radius: 15px;
  background: #EAECEE;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
}

.user-card__info {
  position: absolute;
  top: 30%;
  left: 30%;
  display: flex;
  flex-direction: column;

  font-family: Stolzl;
  font-weight: 500;
  font-stretch: normal;
  letter-spacing: 0.05em;
}

.user-card__name {
  margin: 5px 0;

  font-size: 24px;
  color: #000000;
}

.user-card__city {
  font-size: 16px;
  color: #BEC6DD;
  transition: all 0.1s;
}

.user-card__button {
  position: absolute;
  left: calc(30% - 150px + 60px);
  bottom: 10%;

  @media screen and (max-width: 400px) {
    width: 150px;
  }
}