.post-card__LARGE {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 30px;

  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  background: #FFFFFF;
  border-radius: 20px;

  .post-card__title {
    margin-bottom: 15px;

    font-family: Stolzl;
    font-weight: 500;
    font-stretch: normal;
    letter-spacing: 0.05em;
    font-size: 32px;
    text-transform: capitalize;

    color: #000000;
  }

  .post-card__body {
    margin-bottom: 15px;

    font-family: Stolzl;
    font-weight: 500;
    font-stretch: normal;
    letter-spacing: 0.05em;
    font-size: 20px;

    color: #000000;

    @media screen and (max-width: 600px){
      display: none;
    }
  }
}