.button-go-back__LARGE {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 15px;

  font-family: 'Stolzl';
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-decoration: none;

  color: #FFFFFF;
  background: #4099E5;
  cursor: pointer;

  //disable text highlighting
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}