.comment-card__LARGE {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

  .comment-card__email {
    margin-right: 15px;
    font-family: Stolzl;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;

    color: #000000;
  }

  .comment-card__body {
    font-family: Stolzl;
    font-weight: 500;
    font-stretch: normal;
    letter-spacing: 0.05em;
    font-size: 24px;

    -webkit-text-stroke: 1px #000000;

    color: #000000;
  }
}